.wrapper {
}

.experience-list {
}

.experience-item {
  --company-logo-size: 70px;
  --company-logo-border-width: 5px;
  --company-logo-spacing: var(--spacing-2);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  & + .experience-item {
    margin-top: var(--spacing-10);
  }

  &:last-child {
    .experience-description {
      &::after {
        display: none;
      }
    }
  }

  @media (--medium-viewport) {
    display: block;
    --company-logo-size: 110px;
    --company-logo-spacing: var(--spacing-7);
  }
}

.company-logo {
  width: var(--company-logo-size);
  height: var(--company-logo-size);
  border-radius: 50%;
  border: var(--company-logo-border-width) var(--primary-color) solid;
  object-fit: cover;
  margin-right: var(--company-logo-spacing);

  @media (--medium-viewport) {
    float: left;
  }
}

.company-name {
  width: 60vw;
  font-weight: var(--font-weight-bold);
  color: var(--secondary-color);
  line-height: initial;

  &.company-name-small {
    font-size: var(--font-size-4);
  }

  &.company-name-medium {
    line-height: 0.6em;
    font-size: var(--font-size-6);
  }

  @media (--medium-viewport) {
    display: flex;
    align-items: center;
    height: calc(
      var(--company-logo-size) + (var(--company-logo-border-width) * 2)
    );
    width: auto;

    &.company-name-small {
      font-size: var(--font-size-6);
    }

    &.company-name-medium {
      font-size: var(--font-size-9);
    }
  }
}

.date-range {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-3);
  white-space: nowrap;

  @media (--medium-viewport) {
    font-size: var(--font-size-5);
  }
}

.experience-description {
  position: relative;
  width: 100%;
  margin-top: var(--spacing-3);

  &.description-full-width {
    padding-left: 0;
  }

  @media (--medium-viewport) {
    margin-top: 0;
    padding-left: calc(
      var(--company-logo-size) + var(--company-logo-spacing) +
        (var(--company-logo-border-width) * 2)
    );
    box-sizing: border-box;

    &.description-full-width {
      margin-top: var(--spacing-3);
    }

    &:not(.description-full-width)::after {
      content: '';
      position: absolute;
      left: calc(var(--company-logo-size) / 2);
      top: var(--spacing-5);
      height: calc(100% - var(--spacing-5));
      border-width: 0;
      border-left-width: 10px;
      border-color: var(--primary-color);
      border-style: dotted;
    }
  }
}

.experience-description-paragraph {
  & + .experience-description-paragraph {
    margin-top: 1em;
  }
}

.gallery-container {
  width: 100%;
  margin-top: var(--spacing-5);

  @media (--medium-viewport) {
    max-width: 1000px;
    margin-top: var(--spacing-8);
    margin-left: auto;
    margin-right: auto;
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--spacing-5);

  @media (--medium-viewport) {
    margin-top: var(--spacing-10);
  }
}

.link-item-container {
  display: flex;
  justify-content: center;
}

.link-item {
  border-radius: 30px;
  padding: var(--spacing-3) var(--spacing-5);
  color: var(--button-text-color);
  font-weight: var(--font-weight-bold);
  background-color: var(--primary-color);
}
