.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: none;

  &.light {
    background-color: var(--primary-color);
  }

  &.dark {
    background-color: var(--secondary-color);
  }

  @media (--large-viewport) {
    width: 66px;
    height: 66px;

    & :global(i.symbol) {
      font-size: var(--icon-size-1);
    }
  }
}

.icon {
  width: 28px;
  height: 28px;

  @media (--large-viewport) {
    width: 42px;
    height: 42px;
  }
}
