.wrapper {
  --section-horizontal-spacing: var(--spacing-3);
  --section-vertical-padding: var(--spacing-8);

  &.padding-top {
    padding-top: var(--section-vertical-padding);
  }

  &.padding-bottom {
    padding-bottom: var(--section-vertical-padding);
  }

  & + .wrapper {
    padding-top: var(--spacing-5);
  }

  @media (--small-viewport) {
    --section-vertical-padding: var(--spacing-10);

    & + .wrapper {
      padding-top: var(--spacing-7);
    }
  }

  @media (--large-viewport) {
    --section-horizontal-spacing: var(--spacing-11);
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0 var(--section-horizontal-spacing);

  &.align-left {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
    text-align: center;
  }

  & + .body {
    padding-top: var(--spacing-7);
  }

  @media (--small-viewport) {
    &.align-right {
      align-items: flex-end;
    }
  }

  & + .body {
    padding-top: var(--spacing-10);
  }
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & + .title {
    margin-top: var(--spacing-1);
  }
}

.title-fragment {
  font-weight: var(--font-weight-bold);

  &.style-fill {
    color: var(--section-title-color);
  }

  &.style-outline {
    color: transparent;
    -webkit-text-stroke: 2px var(--section-title-color);
    letter-spacing: 0.05em;
  }

  &.size-medium {
    font-size: var(--font-size-6);
  }

  &.size-sm-large {
    font-size: var(--font-size-8);
  }

  &.size-md-large {
    font-size: var(--font-size-9);
  }

  &.size-large {
    font-size: var(--font-size-11);
  }

  &.text-transform-uppercase {
    text-transform: uppercase;
  }

  &.text-transform-lowercase {
    text-transform: lowercase;
  }

  &.text-transform-capitalize {
    text-transform: capitalize;
  }

  @media (--medium-viewport) {
    &.style-outline {
      letter-spacing: initial;
      -webkit-text-stroke-width: 3px;
    }

    &.size-medium {
      font-size: var(--font-size-9);
    }

    &.size-sm-large,
    &.size-md-large,
    &.size-large {
      font-size: var(--font-size-12);
    }
  }
}

.body {
  line-height: 1.3em;

  &.spacing-left {
    padding-left: var(--section-horizontal-spacing);
  }

  &.spacing-right {
    padding-right: var(--section-horizontal-spacing);
  }
}
