.wrapper {
  padding: var(--spacing-10) var(--spacing-3);

  @media (--large-viewport) {
    padding: var(--spacing-10) var(--spacing-11);
  }
}

.back-button {
  position: sticky;
  top: calc(100px + var(--spacing-3));
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--primary-color);

  :global(i.symbol) {
    font-size: var(--icon-size-1);
    font-weight: 600;
  }

  @media (--large-viewport) {
    top: var(--spacing-5);
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-10) auto 0 auto;

  @media (--large-viewport) {
    max-width: 80%;
  }
}

.title {
  text-align: center;
  color: var(--section-title-color);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-bold);

  @media (--large-viewport) {
    font-size: var(--font-size-9);
  }
}

.description {
  margin-top: var(--spacing-5);
}

.gallery-container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: var(--spacing-5);

  @media (--large-viewport) {
    padding-top: var(--spacing-11);
  }
}

.see-more-container {
  margin-top: var(--spacing-5);

  @media (--medium-viewport) {
    margin-top: var(--spacing-10);
  }
}

.see-more-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--section-title-color);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-bold);

  span {
    font-size: var(--font-size-10);
    margin-left: 0.2em;
    color: transparent;
    -webkit-text-stroke-color: var(--section-title-color);
    -webkit-text-stroke-width: 2px;
  }

  @media (--medium-viewport) {
    font-size: var(--font-size-9);

    span {
      font-size: var(--font-size-12);
      -webkit-text-stroke-width: 3px;
    }
  }
}

.portfolio-cards-container {
  margin-top: var(--spacing-5);

  @media (--medium-viewport) {
    margin-top: var(--spacing-10);
  }
}
